.pink-hibiscus-flower{
  pointer-events: none;
  position:absolute;
  left:1vh;
  top:3vh;
  
  transform: rotate(-0.25turn);
 
}
.pink-hibiscus-flower2{
  pointer-events: none;
  position:absolute;
  right:86vh;
  bottom:20px;
  transform: rotate(90deg);

}
body{
   background-color: #c89bbe;
   position: fixed;
  
}
h1{
  display: block;
  margin: 0 auto;
  font-size: 75px;
  font-family:cursive;
  position: absolute;
  left:103vh;
  color: #EFC75E;
  
}
.wavy-line:before{
   content: "~~~~~~~~~~~~~~~~~";
   font-size: 0.8em;
  font-weight: 700;
  font-family: Times New Roman, Serif;
  color: rgba(38, 255, 0, 0.551);
  width: 100%;
  position: absolute;
  top: 80px;
  left: 4px;
  overflow: hidden;

}
p{
  color:purple;
 text-transform: uppercase;
  font-size: 20px;
  border-radius: 5%;
  text-align:center;
  left:95vh;
  bottom:20vh;
  position: relative;
  width:600px;
  line-height: 25px;
}

img{
 border-radius: 0%;
 display: block;
 margin: 0 auto;
}

.p-text1 {
  background-color: #6e9cbc;
  color:#c8eace
}
.intro-head{
  background-color: #b89819;
  color:orange;
}
.third-text{
background-color: #b15055;
color: rgb(141, 1, 141);

}
.fourth-text{
  background-color: #A1A86A;
  color:#1e00ff
}
.image img{
  border: 5px solid #B97EC4;
  transform: scale(1.1);
}
.image img{
  border: 20px solid #6d157d;
  display: flex;
  position:relative;
  top:30vh;
  border-style: dotted;
  width:450px;
 
}
.left{
  height:100vh;
  display:grid;
   background-color: #81A4A3;
  background-image: linear-gradient(90deg, #aa67c280 20px, transparent 20px), linear-gradient(#EFC75F 20px, transparent 20px);
  background-size: 45px 45px;
  border:5px solid  rgb(128, 200, 106);
  border-radius: 10%;
  width:700px;
  /* position: fixed; */
}
.right{
  display: grid;
  background-color:  #e88493;
  border-radius: 10%;
  float: right;
  width:700px;
  height:100vh;
  border:5px solid  rgb(128, 200, 106);
  /* position: fixed; */
}

.ring{
margin: 0 auto;
text-align: center;
position: fixed;
left:84vh;
bottom:-30px;


}

 ul{
 list-style: none;
}


.btn1{
  margin: 0 auto;
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#ffffff;
  position: relative;
  border: 2px solid #b15055;
  border-radius: 100em;
  bottom: 85vh;
  left:144vh;
  padding: 10px 25px;
  margin-left: 18vh;
  text-align: center;
  background-color: #DF696E;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transition-duration: 0.3s;
  transform: rotate(90deg);
}
.btn1:active{  
box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: translateY(4px);
  opacity: 0.5;
}
.btn1:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
}
.btn2{
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#ffffff;
  position: relative;
  bottom: 80vh;
  left: 144vh;
  transform: rotate(90deg);
  border: 2px solid#bd8b8d;
  border-radius: 100em;
  padding: 10px 25px;
  margin-left: 18vh;
  text-align: center;
  background-color: #FEC2C4;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transition-duration: 0.3s;
    
}
.btn2:active{  
box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: translateY(4px);
  opacity: 0.5;
}
.btn2:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
}
.btn3{
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#fefefe;
  position: relative;
  top: -73.5vh;
  left: 143vh;
  transform: rotate(90deg);
  border: 2px solid #757b4c;
  border-radius: 100em;
  padding: 10px 25px;
  margin-left: 18vh;
  text-align: center;
  background-color: #A1A86A;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transition-duration: 0.3s;
    
}
.btn3:active{  
box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: translateY(4px);
  opacity: 0.5;
}
.btn3:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
}
.btn4{
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#ffffff;
  position: relative;
  top: -55vh;
  left:143vh;
  transform: rotate(90deg);
  border: 2px solid#b89819;
  border-radius: 100em;
  padding: 10px 25px;
  margin-left: 18vh;
  text-align: center;
  background-color: #E0BB22;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transition-duration: 0.3s;
    
}
.btn4:active{  
box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: translateY(4px);
  opacity: 0.5;
}
.btn4:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
}
.btn5{
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#fcfcfc;
  position: relative;
 top: -72vh;
  left:151vh;
  transform: rotate(90deg);
  border: 2px solid #6e9cbc;
  border-radius: 100em;
  padding: 10px 25px;
  margin-left: 10vh;
  text-align: center;
  background-color: #88C0E8;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transition-duration: 0.3s;
    
}
.btn5:active{  
box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: translateY(4px);
  opacity: 0.5;
}
.btn5:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
}
.btn6{
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#fafafa;
  position: relative;
  top: -55vh;
  left:144vh;
  transform: rotate(90deg);
  border: 2px solid #b15055;
  border-radius: 100em;
  padding: 10px 25px;
  margin-left: 18vh;
  text-align: center;
  background-color: #DF696E;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transition-duration: 0.3s;
  
    
}
.btn6:active{  
box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: translateY(4px);
  opacity: 0.5;
}
.btn6:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
}





