
nav li {
padding: 20px;
text-align: center;
margin: 0 auto;

}
 ul li {
  background-color: #5fdaec;
  color:rgb(195, 255, 0);
  border-radius: 30px;
  float:right;
  display: block;
  flex-direction: column;
}
li:hover{
background: linear-gradient(to right, #5fdaec, rgb(195, 255, 0));
  cursor: pointer;
  border-radius: 30px;
  color:black;
}
 ul li:active{
transform: translateY(4px);
  opacity: 0.5;
 }
.pink-hibiscus-flower{
  pointer-events: none;
  position:absolute;
  left:30px;
  top:30px;
  transform: rotate(-0.25turn);
}
.pink-hibiscus-flower2{
  pointer-events: none;
  position:absolute;
  right:30px;
  bottom:30px;
  transform: rotate(90deg);
}


