.left{
  height:100vh;
  display:grid;
   background-color: #1f351398;
  background-image: linear-gradient(90deg, #ddd997 20px, transparent 20px), linear-gradient(#dad016 20px, transparent 20px);
  background-size: 45px 45px;
  border:5px solid rgb(255, 0, 0);
  border-radius: 10%;
  width:700px;
}
.right{
  display: grid;
  background-color:  #adc3a3;
  border-radius: 10%;
  float: right;
  width:700px;
  height:100vh;
  border:5px solid purple;
  /* position: fixed; */
}
.ring{
margin: 0 auto;
text-align: center;
position: fixed;
left:84vh;
bottom:-30px;

}


body{
   background-color: #C5DCA0;
   position: fixed;
  
}
h1{
  display: block;
  margin: 0 auto;
  font-size: 75px;
  font-family:cursive;
  position: absolute;
  left:103vh;
  color: #1ec0a2;
  
}
.wavy-line:before{
   content: "~~~~~~~~~~~~~~~~~";
   font-size: 0.8em;
  font-weight: 700;
  font-family: Times New Roman, Serif;
  color: rgba(174, 255, 0, 0.551);
  width: 100%;
  position: absolute;
  top: 80px;
  left: 4px;
  overflow: hidden;

}

 ul{
 list-style: none;
}


.btn1{
  margin: 0 auto;
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#ffffff;
  position: relative;
  border: 2px solid #b15055;
  border-radius: 100em;
  top:-40vh;
  left:144vh;
  padding: 10px 25px;
  margin-left: 18vh;
  text-align: center;
  background-color: #DF696E;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transition-duration: 0.3s;
  transform: rotate(90deg);
}
.btn1:active{  
box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: translateY(4px);
  opacity: 0.5;
}
.btn1:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
}
.btn2{
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#ffffff;
  position: relative;
  top:-36vh;
  left: 144vh;
  transform: rotate(90deg);
  border: 2px solid#bd8b8d;
  border-radius: 100em;
  padding: 10px 25px;
  margin-left: 18vh;
  text-align: center;
  background-color: #FEC2C4;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transition-duration: 0.3s;
    
}
.btn2:active{  
box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: translateY(4px);
  opacity: 0.5;
}
.btn2:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
}
.btn3{
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#fefefe;
  position: relative;
  top:-30vh;
  left: 143vh;
  transform: rotate(90deg);
  border: 2px solid #757b4c;
  border-radius: 100em;
  padding: 10px 25px;
  margin-left: 18vh;
  text-align: center;
  background-color: #A1A86A;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transition-duration: 0.3s;
    
}
.btn3:active{  
box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: translateY(4px);
  opacity: 0.5;
}
.btn3:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
}
.btn4{
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#ffffff;
  position: relative;
  top:-11.5vh;
  left:143.3vh;
  transform: rotate(90deg);
  border: 2px solid#b89819;
  border-radius: 100em;
  padding: 10px 25px;
  margin-left: 18vh;
  text-align: center;
  background-color: #E0BB22;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transition-duration: 0.3s;
    
}
.btn4:active{  
box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: translateY(4px);
  opacity: 0.5;
}
.btn4:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
}
.btn5{
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#fcfcfc;
  position: relative;
  top:-28vh;
  left: 151vh;
  border: 2px solid #6e9cbc;
  border-radius: 100em;
  padding: 10px 25px;
  margin-left: 10vh;
  text-align: center;
  background-color: #88C0E8;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transition-duration: 0.3s;
  transform: rotate(90deg);
}
.btn5:active{  
box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: translateY(4px);
  opacity: 0.5;
}
.btn5:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
}
.btn6{
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#fafafa;
  position: relative;
  top:-11.5vh;
  left: 144.5vh;
  border: 2px solid #b15055;
  border-radius: 100em;
  padding: 10px 25px;
  margin-left: 18vh;
  text-align: center;
  background-color: #DF696E;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transition-duration: 0.3s;
  transform: rotate(90deg);
}
.btn6:active{  
box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: translateY(4px);
  opacity: 0.5;
}
.btn6:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
}


#topics{
  font-size: 40px;
  
}
.edu{
  position:absolute;
  bottom:90vh;
  left:33vh;
}
p{
text-align: center;
font-size: 15px;;
position: absolute;

}
.skills{
position:absolute;
bottom:73vh;
left:100vh;
}
.lang{
  position:absolute;
  bottom:67vh;
  left:19vh;
}
.skills-right{
  position: absolute;
  bottom:-2vh;
  left:20vh;
}
.proj{
  bottom:40vh;
  position: absolute;
  left:100vh;
}
.volunteer{
  position: absolute;
  bottom:20vh;
  left:25vh;
}
