 
@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Poiret+One&display=swap');

body{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: #c8eace;
  position: fixed;
 
}


.header{
  margin: -100vh auto;
  
}
img{
  position:relative;

}
.ring{
  position: relative;
  bottom:-1vh;
  left:-6vh;
  background-blend-mode: overlay;
}

#bkg{
  background-color: #EACBC8;
  background-image: linear-gradient(90deg, #aa67c280 20px, transparent 20px), linear-gradient(#aa67c280 20px, transparent 20px);
  background-size: 45px 45px;
  border:5px solid purple;
  border-radius: 10%;
  box-shadow: rgba(240, 46, 170, 0.4) 30px 0px, rgba(240, 46, 170, 0.3) 60px 0px, rgba(240, 46, 169, 0.372) 70px 0px, rgba(240, 46, 170, 0.1) 80px 0px, rgba(240, 46, 170, 0.05) 90px 0px;
  height:97vh;
  align-items: center;
  z-index: -1;
}

h1{
   font-family: "Matemasie", sans-serif;
   font-size: 40px;
  font-weight: 400;
  font-style: normal;
  position:absolute;
  bottom: 75vh;
  text-align: center;
}




p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;
}
ul li{
  display: flex;
  flex-direction:row-reverse;
  float:right;

 
}

nav li {
padding: 20px;
text-align: center;
margin: 0 auto;
 transform: rotate(90deg);
}
.btn1{
  margin: 0 auto;
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#ffffff;
  position: absolute;
  border: 2px solid #b15055;
  border-radius: 100em;
  top: 47vh;
  left:-5vh;
  padding: 10px 25px;
  margin-left: 18vh;
  text-align: center;
  background-color: #DF696E;
  /* box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px; */
  transition-duration: 0.3s;
  z-index: 999;
    
}
.btn1:active{  
/* box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px; */
  /* transform: translateY(4px); */
  opacity: 0.5;
  z-index: 999;
}
.btn1:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
  border-color: #83109b;
  z-index: 999;
}
.btn2{
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#ffffff;
  position: relative;
  bottom: -26.7vh;
  left: 17vh;
  border: 2px solid#bd8b8d;
  border-radius: 100em;
  padding: 10px 25px;
  margin-left: 18vh;
  text-align: center;
  background-color: #FEC2C4;
  /* box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px; */
  transition-duration: 0.3s;
    z-index: 999;
}
.btn2:active{  
/* box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px; */
  /* transform: translateY(4px); */
  opacity: 0.5;
  z-index: 999;
}
.btn2:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
  border-color: #83109b;
  z-index: 999;
}
.btn3{
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#fefefe;
  position: relative;
  top: -10.5vh;
  left: 30vh;
  border: 2px solid #757b4c;
  border-radius: 100em;
  padding: 10px 25px;
  margin-left: 18vh;
  text-align: center;
  background-color: #A1A86A;
  /* box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px; */
  transition-duration: 0.3s;
    
}
.btn3:active{  
/* box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: translateY(4px); */
  opacity: 0.5;
}
.btn3:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
  border-color: #83109b;
}
.btn4{
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#ffffff;
  position: relative;
  top: -48.8vh;
  left:44vh;
  border: 2px solid#b89819;
  border-radius: 100em;
  padding: 10px 25px;
  margin-left: 18vh;
  text-align: center;
  background-color: #E0BB22;
  /* box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px; */
  transition-duration: 0.3s;
    z-index: 999;
}
.btn4:active{  
box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: translateY(4px);
  opacity: 0.5;
}
.btn4:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
  border-color: #83109b;
}
.btn5{
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#fcfcfc;
  position: relative;
  bottom:83.6vh;
  left: 62vh;
  border: 2px solid #6e9cbc;
  border-radius: 100em;
  padding: 10px 25px;
  margin-left: 10vh;
  text-align: center;
  background-color: #88C0E8;
  /* box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px; */
  transition-duration: 0.3s;
    
}
.btn5:active{  
box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: translateY(4px);
  opacity: 0.5;
}
.btn5:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
  border-color: #83109b;
}
.btn6{
  font-size: 1em;
  font-family: "Matemasie", sans-serif;
  color:#fafafa;
  position: relative;
  top:32.7vh;
  left: 59vh;
  border: 2px solid #b15055;
  border-radius: 100em;
  padding: 10px 25px;
  margin-left: 18vh;
  text-align: center;
  background-color: #DF696E;
  /* box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px; */
  transition-duration: 0.3s;
    
}
.btn6:active{  
box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: translateY(4px);

  opacity: 0.5;
}
.btn6:hover{
  cursor: pointer;
  background-color: rgb(213, 168, 254);
  border-color: #83109b;
}



.spinningFlower {
  position: relative;
  left: 15vh;
  bottom: 95vh;
 z-index: 0;
  
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(369deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}