 
@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Poiret+One&display=swap');

body{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffd4fd;
  
}

 

img{
  position:relative;
  margin-left: 10vh;
}

#bkg{
  
  background-color: #EACBC8;
  background-image: linear-gradient(90deg, #aa67c280 20px, transparent 20px), linear-gradient(#aa67c280 20px, transparent 20px);
  background-position: 10px;
  background-size: 40px 40px;
  border:5px solid purple;
  border-radius: 18%;
  box-shadow: rgba(240, 46, 170, 0.4) 30px 0px, rgba(240, 46, 170, 0.3) 60px 0px, rgba(240, 46, 169, 0.372) 70px 0px, rgba(240, 46, 170, 0.1) 80px 0px, rgba(240, 46, 170, 0.05) 90px 0px;
}

.btn{
  font-size: 2em;
  font-family: "Matemasie", sans-serif;
  color: #ff00d49f;
  position: relative;
  bottom: 45vh;
  left: 35vh;
  border: 2px solid #ff88ed;
  border-radius: 100em;
  padding: 10px 25px;
  margin-left: 18vh;
  text-align: center;
  background-color: rgb(247, 199, 207);
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transition-duration: 0.3s;
    

}


.btn:hover{
  cursor: pointer;
  background-color: rgb(192, 125, 255);
  
   
}
.btn:active{
    
box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  transform: translateY(4px);
  opacity: 0.5;
}
h1{
   font-family: "Matemasie", sans-serif;
   font-size: 40px;
  font-weight: 400;
  font-style: normal;
  position:absolute;
  bottom: 75vh;
  text-align: center;
}




p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;
}
